.left-profile img{
	background-color: red;
	margin-left: 35%;
}
.profile-title{
	margin-left: 17% ;
}
.purple-bg,
.bg-danger
{
	background-color: #C04334 !important;
	color: #ffffff;
}

.green-bg, 
.bg-danger 
{
	background-color: #34A4C0 !important;
	color: #ffffff;
}

.ash-bg,
.bg-danger {
	background-color:#9E6E61 !important;
	color: #ffffff;
}

a:hover {
	text-decoration: none !important;
}